{{ partial "global-header.html" . }}

<!-- contact form start -->
{{ with .Site.Params.give }}
<section id="contact-form">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="section-title">
        <h2>{{ .box.title }}</h2>
        <p>{{ .box.subtitle }}</p>
      </div>
    </div>

    <div id="contact-box" class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
        {{ .box.description }}
          <ul class="fa-ul">
              {{ range .content.item }}
              <li><span class="fa-li"><i class="fa"></i></span><b>{{ .title }}</b>&nbsp;: {{ .description }}</li>
              {{ end }}
          </ul>
        </div>
      </div>
    </div>

    <div id="contact-box" class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
        {{ .box.give }}
        </div>
      </div>
    </div>

    <div id="contact-box" class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="block">
            <a href="{{ .box.url }}" class="btn btn-main">{{ .box.caption }}</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{{ end }}